---
import Layout from "../layouts/layout.astro";
---

<Layout title="Games - The Math Hub">
	<iframe
		src="/pages/bg.html"
		frameborder="none"
		class="fixed w-full h-full -z-10"></iframe>

	<main class="pt-30 max-w-7xl mx-auto">
		<div id="content">
			<div
				id="search-container"
				class="w-screen max-w-4xl mx-auto mb-8 flex justify-center px-4">
				<div
					id="searchbar"
					class="glass w-full h-16 rounded-2xl flex items-center shadow-lg">
					<img
						src="/img/search.svg"
						alt="Search Icon"
						class="max-w-9 ml-5 mt-.5 opacity-70"
					/>
					<input
						type="text"
						id="searchInput"
						placeholder="Search 300+ games..."
						class="flex-grow h-full bg-transparent text-white placeholder-gray-400 text-lg rounded-2xl px-4 outline-none font-light"
					/>
				</div>
			</div>

			<div id="games"></div>
		</div>
		<script src="../scripts/cloak"></script>
		<script src="../scripts/games.ts"></script>
		<script src="../scripts/enhancements"></script>
	</main>
</Layout>
