@import "tailwindcss";

@font-face {
    font-family: 'font';
    src: url('/fonts/inter.ttf');
}

body {
    font-family: 'font', sans-serif;
}

header {
    background-color: rgba(255, 255, 255, 0.271);
    backdrop-filter: blur(50px);
    outline: 1px solid rgba(255, 255, 255, 0.66);
}

#aurora {
    background: linear-gradient(90deg, #003cff, #0091ff, #55ddff, #003cff);
    background-position: 0% 00%;
    background-size: 400% 400%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: aurora 15s infinite linear;
}

@keyframes aurora {
    0% {
        background-position: 0% 0%;
    }

    100% {
        background-position: 400% 400%;
    }
}

#games {
    display: grid;
}