body {
    font-family: 'font', sans-serif;
}

header {
    background-color: rgba(255, 255, 255, 0.271);
    backdrop-filter: blur(50px);
    outline: 1px solid rgba(255, 255, 255, 0.66);
}

#aurora {
    background: linear-gradient(90deg, #003cff, #0091ff, #55ddff, #003cff);
    background-position: 0% 00%;
    background-size: 400% 400%;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: aurora 15s infinite linear;
}

@keyframes aurora {
    0% {
        background-position: 0% 0%;
    }

    100% {
        background-position: 400% 400%;
    }
}

#searchbar {
    background-color: rgba(255, 255, 255, 0.271);
}

.glass {
    background-color: rgba(255, 255, 255, 0.271);
    backdrop-filter: blur(50px);
    outline: 1px solid rgba(255, 255, 255, 0.66);
}

#games {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 20px;
    padding: 20px;
    align-items: center;
    justify-items: center;
}

.game-card {
    width: 100%;
    height: 170px;
    border-radius: 25px;
    margin: 0;
    transition: transform 0.3s ease;
}

.game-card img {
    width: 100%;
    height: 100%;
    border-radius: 25px;
    background-image: url('/img/place2.png');
    background-size: cover;
    background-position: center;
    object-fit: cover;
    transition: all 0.2s ease;
}

.game-card h3 {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    width: 90%;
    text-align: center;
    color: white;
    opacity: 0;
    transition: all 0.2s ease;
    font-size: 1.2rem;
}

.game-card:hover {
    cursor: pointer;
    transform: scale(1.02);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

.game-card:hover h3 {
    opacity: 1;
}

.game-card:hover img {
    filter: brightness(60%) blur(2px);
}